---
---
@charset "UTF-8";

@import "main";

p{
    font-size: 10pt;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: #383837;
}

h1{
    font-size: 40pt;
    text-transform: capitalize;
}

h2{
    font-size: 30pt;
}

button{
    font-family: 'Fjalla One', sans-serif;
}

//navigation//

.navbar{
    height: 9vh;
    background-color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 13pt;
}

.navbar-brand{
    width: 3em;
}

#navbarSupportedContent{
    margin-top: -2px;
    width: 100%;
    text-align: center;
    color: #f1f1f1;
}

#navbarSupportedContent li{
    background-color: #f8f9fa ;
    padding-bottom: 0.3rem;    
}

.collapse{
    
}

body {
    background-color: rgb(252, 204, 49);
    position: relative;
    height: 100%;
}



//Homepage//

.intro{
    height: 100vh;
    margin-top: 7vh;
}


.introFoto{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 15rem;
    
}

.hpDropdown{
    font-size: 30pt;
    color: #383837;
    transition: 0.5s all ease;        
}

.hpDropdown:hover{
    font-size: 35pt;
    color: #f1f1f1;
    transition: 0.5s all ease;    
}

.hpRow{
    max-height: 50vh;
    margin-top: 110px;
    margin-bottom: 100px;
}


.hpFotoRechts img{
    max-width: 15rem;
}

.hpFotoLinks img{
    max-width: 15rem;
}

.hpTekst{
    padding-top: 3vh;
    padding-left: 75px;
    text-align: center;
    padding-right: 75px;
}


.hpPaw{
    font-size: 40pt;
    color: #383837;
    transition: 0.5s all ease; 
}

.hpPaw:hover{
    color: #f1f1f1;
    transition: 0.5s all ease; 
}

//PAGES//

.containerP{
    min-height: 100vh;
    background-color: #f1f1f1;
    padding: 50px;
    margin-top: 8vh;
    margin-bottom: 0;
    min-height: 70vh;
    padding-left: 10em;
    padding-right: 10em;
    text-align: center;
}

.titelP{
    margin-bottom: 2rem;
    margin-top: 3rem;    
}

.containerP h2{
    margin-bottom: 2rem;
    margin-top: 6rem;    
}

.containerP h2:first-of-type{
    margin-top: 2px;    
}

.IntroImgP{
    height: 12rem;
    margin-bottom: 10px;
}


//Product//

.tableProduct{
    width: 50%;
}

.basil{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin-top: 2rem;
}

.basil table {
    margin: 0 auto;
    margin-bottom: 30px;
}

.basil-links{
    text-align: right;
    color: #383837;
    font-weight: Bold;
    font-size: 15px;
    padding-right: 20px;
}

.basil-rechts{
    text-align: left;
    color: #575756;
}

h3{
    margin-bottom: 30px;
}

//Contact//

.IntroImgContact{
    width: 10rem;
    margin-bottom: 10px;
}

.gegevens{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.gegevens table {
    margin: 0 auto;
    margin-bottom: 30px;
}

.contact-links{
    text-align: right;
    color: #383837;
    font-weight: Bold;
    font-size: 15px;
    padding-right: 20px;
}

.contact-rechts{
    text-align: left;
    color: #575756;
}

.map{
    margin-bottom: 50px;
}

.social-media{
    margin-bottom: 5vh;
}

.ContactIcons{
    font-size: 3rem;
    margin: 2px 0.5rem;
    color: #575756;
}

.ContactIcons:hover{
    color: #383837;
}


//About//

.DelphineT{
    text-align: center;
    color: #575756;
    margin-top: 10px;
    text-align: center;
}

.delphineNaam{
    font-family: 'Amatic SC', cursive;
    font-size: 10.5pt;
    text-align: center;    
}

.DelphineT-rechts{
    font-family: 'Fjalla One', sans-serif;
    font-size: 8pt;
    text-align: center;
}

.EbbeT{
    text-align: center;
    color: #575756;
}

.Delphine{
    margin: 0;
}

.Ebbe{
    margin: 0;
}
//Shopping Bag//

input{
    margin: 0.4rem;
}

.ShoppingChart{
    font-size: 10rem;
}

.PayButton{
    font-size: 12pt;
    background-color: #575756;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: center;
}

#exampleInputEmail1{
    font-size: 8pt;
}

.PayButtonA{
    margin: auto;
}

//Offer//

//Payment//

//Order//

.order{
    padding: 50px 20rem;
}

.logoOrder{
    width: 30px;
}

.order p{
    font-size: 10pt;
}

.order h3{
    margin-bottom: 3rem;
    margin-top: 3rem;    
}

.order hr{
    margin-bottom: 3rem;
    margin-top: 3rem;    
}

.order table{
    font-family: 'Fjalla One', sans-serif;
}

.order th{
    font-size: 12pt;
}

.order a{
    color: #383837;
}

.order td{
    font-weight: lighter;
    font-size: 10pt;
}

.order th{
    
}



//footer//
.footer{
    font-family: 'Fjalla One', sans-serif;    
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 45px;
    background-color: #383837;
    text-align: center;
    font-size: 10pt;
    font-weight: lighter;
    color: #f1f1f1;
    padding-top: 10px;
}

.footer a{
    color: #f1f1f1;
    margin-bottom: 0;
}    




//back-to-top-button//
#backbutton {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 30px;
    z-index: 99;
    border-width: 3px;
    outline: none;
    background-color: #383837;
    color: #f1f1f1;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: 1s all ease;
}
  
#backbutton:hover {
    color: #383837;
    background-color: #f1f1f1;
    transition: 1s all ease;
}

#backbutton:active {
    color: #383837;
    transition: 1s all ease;
}    

// Extra Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    
    //back-to-top-button//
    
    #backbutton {
        height: 50px;
        width: 40px;
        display: none;
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 99;
        border-width: 3px;
        outline: none;
        background-color: #383837;
        color: #f1f1f1;
        cursor: pointer;
        padding: 6.5px;
        border-radius: 10px;
        transition: 1s all ease;
    }


    //HOMEPAGE//
    .introFoto{
        height: 10rem;
    }
    
    .hpPaw{
        font-size: 20pt;
    }

    .intro{
        margin-top: 10vh;
    }

    .hpRow{
        margin-top: 30px;
        height: 3vh;
    }

    .hpFotoRechts{
        width: 5rem;
    }
    
    .hpFotoLinks{
        width: 5rem;
    }

    .hpTekst{
        width: 100px;
        padding: 0;
    }

    .hpTekst h2{
        font-size: 15pt;
    }
    
    .hpFotoRechts img{
        width: 4rem;
    }
    
    .hpFotoLinks img{
        width: 4rem;
    }




    //PRODUCT//

    .ProductRow{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ProductRow p{
        font-size: 9pt;
    }



    //ABOUT//
    
    .Delphine{
        margin: 0;
    }

    .Ebbe{

    }

    .DelphineNaam{
        font-family: 'Amatic SC', cursive;
    }

    .EbbeNaam{
        font-family: 'Amatic SC', cursive; 
    }

    .DelphineT{
        color: #575756;
        font-size: 8pt;
    }
    
    .EbbeT{
        color: #575756;
        font-size: 8pt;
    }



    //CONTACT//

    #div-table-contact{
        font-size: 9pt;
    }


    #map{
        height:400px;
        width:230px;
    }

    #gmap_canvas{
        height:400px;
        width:200px;
    }

    .containerP{
        min-height: 100vh;
        background-color: #f1f1f1;
        padding: 50px;
        margin-top: 8vh;
        margin-bottom: 0;
        min-height: 70vh;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }



    //OFFER//
    
    .OfferRow p{
        font-size: 9pt;
    }



    //SHOPPING CART//
    
    .ShoppingChart{
        font-size: 4rem;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    
    //HOMEPAGE//
    .intro{
        height: 100vh;
        margin-top: 7vh;
    }
    
    
    .introFoto{
        margin-top: 20px;
        margin-bottom: 20px;
        height: 10rem;
        
    }
    
    .hpDropdown{
        font-size: 30pt;
        color: #383837;
        transition: 0.5s all ease;        
    }

    .hpRow{
        max-height: 30vh;
        margin-top: 75px;
        margin-bottom: 100px;
    }
    
    
    .hpFotoRechts img{
        max-width: 10rem;
    }
    
    .hpFotoLinks img{
        max-width: 10rem;
    }
    
    .hpTekst{
        padding-top: 0;
        padding-left: 75px;
        text-align: center;
        padding-right: 75px;
    }
    
    .hpTekst h2{
        font-size: 20pt;
    }
    
    .hpPaw{
        font-size: 30pt;
        color: #383837;
        transition: 0.5s all ease; 
    }


    //navigation//

    #navbarSupportedContent li{
        background-color: #f8f9fa ;
        padding-bottom: 0.3rem;    
    }

    .containerP{
        padding-left: 4em;
        padding-right: 4em;
    }

    //Offer//

    .OfferRow p{
        font-size: 10pt;
    }
    

    //CONTACT//

    #map{
        height:300px;
        width:560px;
    }

    #gmap_canvas{
        height:300px;
        width:560px;
    }

    
    //ABOUT//

    .DelphineT h6{
        color: #575756;
        font-size: 20pt;
    }
    
    .EbbeT h6{
        color: #575756;
        font-size: 20pt;
    }

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    
    //CONTACT//

    #map{
        height:500px;
        width:800px;
    }

    #gmap_canvas{
        height:500px;
        width:800px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    
}